{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
    <p class="profile-name" style="text-align: center; font-size: 1.5em; margin-top: 5px;">insidepixce(인픽)</p>
    <p style ="text-align: center; font-size: 1.1em;">한 여자가 개발자 남편에게 심부름을 시켰다. 빵 두 개 사오고 세일하는 계란 있음 세 개 사와. 남편이 마트에 가니 계란이 세일하고 있었다. 남편은 빵 세 개를 구입하였다.  </p>
  </div>
{%- endif %}

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <i class="sidebar-icon fas fa-at"></i>
        <span class="contact-info p-name">{{ site.author | escape }}</span>
      </li>
    {%- endif %}
    {% if site.email -%}
      <li>
        <i class="sidebar-icon fas fa-envelope"></i>
        <a class="contact-info u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
    {%- endif %}
    {% if site.location -%}
      <li>
        <i class="sidebar-icon fas fa-location-arrow"></i>
        <a class="contact-info u-location" href="https://www.google.com/maps/search/{{ site.location }}">{{ site.location }}</a>
      </li>
    {%- endif %}
  </ul>
</div>

{% if site.subscribe != false -%}
<div class="sidebar-section feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <i class="sidebar-icon fas fa-rss"></i><span>Subscribe</span>
  </a>
</div>
{%- endif %}

{% if site.data.social -%}
  <div class="sidebar-section">
    <ul class="social-icons">
      {% for social in site.data.social -%}
        <li>
          <a class="social-icon" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
        </li>
      {%- endfor %}
    </ul>
  </div>
{%- endif %}
